@{
    ViewData["Title"] = "Users Page";
}

<div class="text-center">
    <h3 class="p-3">This is users list:</h3>
</div>
<div  id="user_list" class="container">

</div>
<script>
    let users = [{
        fullname: "ali ahmadi",
        email: "ali@ahmadi.com",
        registration_date: "2019/03/05"
    },
    {
        fullname: "asghar jafari",
        email: "asghar@jafari.com",
        registration_date: "2020/04/05"
    },
      {
        fullname: "mojtaba pakzadeh",
        email: "mojtaba@pakzadeh.com",
        registration_date: "2021/08/09"
    }
    ];
    userListUI= 
    '<table class="table table-striped">'+
        '<thead>'+
        '<tr>'+
        '<th scope="col">#</th>'+
        '<th scope="col">fullname</th>'+
        '<th scope="col">email</th>'+
        '<th scope="col">registration_date</th>'+
        '</tr>'+
        '</thead>'
    ;

    userListUI += ' <tbody>'
    users.forEach((user, index) => {
        userListUI += '<tr>';
        userListUI += '<td>' + (index+1) + '</td>';
        userListUI += '<td>' + user.fullname + '</td>';
        userListUI += '<td>' + user.email + '</td>';
        userListUI += '<td>' + user.registration_date + '</td>';
        userListUI += '</tr>'
    })
    userListUI += '</tbody>'
    userListUI += '</table>'

    userListEl = document.getElementById("user_list");
    userListEl.innerHTML = userListUI 
</script>
